{% extends 'master/master.html' %}

{% block content %}

{% load static %}

<section id="contentSection">
    <div class="row">
        
        <div class="col-md-8">
            <div class="left_content">
                <div class="single_page">

                    <ol class="breadcrumb">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li class="active">{{title}}</li>
                    </ol>

                    {% if content %}

                        <h2>{{title}}</h2> <hr>
                        
                        <div class="panel-group" id="accordion">
                            {% for contents in content %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}">
                                                {{forloop.counter}}) {{contents.question}}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse{{forloop.counter}}" class="panel-collapse collapse {% if forloop.counter == 1 %} in {% endif %}">
                                        <div class="panel-body">
                                            {{contents.answer|safe}}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    {% else %}

                        <h3 class="well text-center">No content available.</h3>

                    {% endif %}

                </div>
            </div>
        </div>

        {% include 'pages/right-side.html' %}
        
    </div>
</section>

{% endblock %}
