{% extends 'master/master.html' %}

{% block content %}

{% load static %}

{% include 'pages/home/popup.html' %}

<section id="sliderSection">
    <div class="row">
        <!-- slider section -->
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="slick_slider">
                {% if slider_img %}
                    {% for slider in slider_img %}
                        <div class="single_iteam">{% if slider.description %} <a href="{% url 'slider-detail' slider.slug %}" target="_blank"> <img src="{{slider.image.url}}" alt=""></a> {% else %} <img src="{{slider.image.url}}" alt=""> {% endif %}
                        
                            <div class="slider_article">
                                {% if slider.title %}
                                    {% if slider.description %}
                                        <h2><a class="slider_tittle" href="{% url 'slider-detail' slider.slug %}" target="_blank">{{slider.title}}</a></h2>
                                    {% else %}
                                        <h2><a class="slider_tittle" href="#">{{slider.title}}</a></h2>
                                    {% endif %}
                                {% endif %}

                                {% if slider.description %}
                                    <p>{{slider.description|safe|truncatewords:30}}</p>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="single_iteam"><img src="{% static 'images/slider-default.png' %}" alt="">
                        <div class="slider_article">
                            <h2 class="slider_tittle">Welcome to NewsGram.</h2>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- // slider section -->

        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="latest_post">
                <h2><span>Latest post</span></h2>
                <div class="latest_post_container">
                    <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
                    <ul class="latest_postnav">
                        {% if latest_post %}
                            {% for post in latest_post %}
                                <li>
                                    <div class="media"> <a target="_blank" href="{% url 'details' post.slug %}" class="media-left"> {% if post.image %} <img alt="thumbnail" src="{{post.image.url}}"> {% else %} <img alt="" src="{% static 'images/no-image.png' %}"> {% endif %} </a> </a>
                                        <div class="media-body"> <a href="{% url 'details' post.slug %}" target="_blank" class="catg_title">{{post.title}}</a> <br> <a href="{% url 'menu-content' post.menu.slug %}" target="_blank"><small class="label label-info">{{post.menu.menu_name}}</small></a> </div>
                                        
                                    </div>
                                </li>
                            {% endfor %}
                        {% else %}    
                            <h4 class="text-center">No contents available.</h4>
                        {% endif %}
                    </ul>
                    <div id="next-button"><i class="fa  fa-chevron-down"></i></div>     
                </div>
            </div>
        </div>

    </div>
</section>



<section id="contentSection">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="left_content">

                <div class="fashion_technology_area">
                    <div class="fashion">
                        <div class="single_post_content">
                            <h2><span>Fashion</span></h2>
                            <ul class="spost_nav">
                                {% if fashion_content %}
                                    {% for content in fashion_content %}
                                        <li>
                                            <div class="media"> <a href="{% url 'details' content.slug %}" class="media-left">{% if content.image %} <img alt="thumbnail" src="{{content.image.url}}"> {% else %} <img alt="" src="{% static 'images/no-image.png' %}"> {% endif %} </a>
                                            <div class="media-body"> <a href="{% url 'details' content.slug %}" class="catg_title">{{content.title}}</a> </div>
                                            </div>
                                        </li>
                                    {% endfor %}

                                    <li>
                                        <a href="{% url 'menu-content' 'fashion' %}" class="custom_btn pull-right">View All</a>
                                    </li>
                                {% else %}
                                    <h4 class="text-center">No contents available.</h4> 
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="technology">
                        <div class="single_post_content">
                            <h2><span>Technology</span></h2>
                            <ul class="spost_nav">
                                {% if technology_content %}
                                    {% for content in technology_content %}
                                        <li>
                                            <div class="media"> <a href="{% url 'details' content.slug %}" class="media-left">{% if content.image %} <img alt="thumbnail" src="{{content.image.url}}"> {% else %} <img alt="" src="{% static 'images/no-image.png' %}"> {% endif %} </a>
                                            <div class="media-body"> <a href="{% url 'details' content.slug %}" class="catg_title">{{content.title}}</a> </div>
                                            </div>
                                        </li>
                                    {% endfor %}

                                    <li>
                                        <a href="{% url 'menu-content' 'technology' %}" class="custom_btn pull-right">View All</a>
                                    </li>

                                {% else %}
                                    <h4 class="text-center">No contents available.</h4> 
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="single_post_content">
                    <h2><span>Photography</span></h2>
                    <ul class="photograph_nav  wow fadeInDown">
                        {% if photography_content %}
                            {% for content in photography_content %}
                                <li>
                                    <div class="photo_grid">
                                        <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="{{content.image.url}}" title="{{content.title}}"> <img class="thumbnail" src="{{content.image.url}}" style="height: 200px" alt=""/></a> </figure>
                                    </div>
                                </li>
                            {% endfor %}

                        {% else %}
                            <h4 class="text-center">No contents available.</h4> 
                        {% endif %}
                    </ul>

                    {% if photography_content %}
                        <a href="{% url 'menu-content' 'photography' %}" class="custom_btn pull-right">View All</a>
                    {% endif %}
                </div>

                <div class="business_game_area">
                    <div class="fashion">
                        <div class="single_post_content">
                            <h2><span>Business</span></h2>
                            <ul class="spost_nav">
                                {% if business_content %}
                                    {% for content in business_content %}
                                        <li>
                                            <div class="media"> <a href="{% url 'details' content.slug %}" class="media-left">{% if content.image %} <img alt="thumbnail" src="{{content.image.url}}"> {% else %} <img alt="" src="{% static 'images/no-image.png' %}"> {% endif %} </a>
                                            <div class="media-body"> <a href="{% url 'details' content.slug %}" class="catg_title">{{content.title}}</a> </div>
                                            </div>
                                        </li>
                                    {% endfor %}

                                    <li>
                                        <a href="{% url 'menu-content' 'business' %}" class="custom_btn pull-right">View All</a>
                                    </li>

                                {% else %}
                                    <h4 class="text-center">No contents available.</h4> 
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="technology">
                        <div class="single_post_content">
                            <h2><span>Sports</span></h2>
                            <ul class="spost_nav">
                                {% if sports_content %}
                                    {% for content in sports_content %}
                                        <li>
                                            <div class="media"> <a href="{% url 'details' content.slug %}" class="media-left">{% if content.image %} <img alt="thumbnail" src="{{content.image.url}}"> {% else %} <img alt="" src="{% static 'images/no-image.png' %}"> {% endif %} </a>
                                            <div class="media-body"> <a href="{% url 'details' content.slug %}" class="catg_title">{{content.title}}</a> </div>
                                            </div>
                                        </li>
                                    {% endfor %}

                                    <li>
                                        <a href="{% url 'menu-content' 'sports' %}" class="custom_btn pull-right">View All</a>
                                    </li>

                                {% else %}
                                    <h4 class="text-center">No contents available.</h4> 
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-4 col-md-4 col-sm-4">
            <aside class="right_content">
                <div class="single_sidebar">
                    <h2><span>Popular Post</span></h2>
                    <ul class="spost_nav">
                        {% if popular_post %}
                            {% for post in popular_post %}
                                <li>
                                    <div class="media"> <a target="_blank" href="{% url 'details' post.slug %}" class="media-left"> {% if post.image %} <img alt="thumbnail" src="{{post.image.url}}"> {% else %} <img alt="" src="{% static 'images/no-image.png' %}"> {% endif %} </a> </a>
                                        <div class="media-body"> <a href="{% url 'details' post.slug %}" target="_blank" class="catg_title">{{post.title}}</a> <br> <a href="{% url 'menu-content' post.menu.slug %}" target="_blank"><small class="label label-info">{{post.menu.menu_name}}</small></a> </div>
                                        
                                    </div>
                                </li>
                            {% endfor %}
                        {% else %}    
                            <h4 class="text-center">No contents available.</h4>
                        {% endif %}
                    </ul>
                </div>

                
                {% if sponsors %}
                    <div class="single_sidebar wow fadeInDown" style="margin: 10px 0 0 0">
                        <h2><span>Sponsor</span></h2>
                        <div class="slick_slider sponsor_slider">
                            
                            {% for sponsor in sponsors %}
                                <div>
                                    <a href="{% url 'sponsors' %}" target="_blank"> <img src="{{sponsor.image.url}}" width="100%" height="200" alt=""></a> 
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                {% endif %}

                
                <div class="single_sidebar wow fadeInDown" style="margin: 15px 0 0 0;">
                    <h2><span>Find Us On Facebook</span></h2>
                    <div class="fb-page" data-href="https://www.facebook.com/developerstage" data-tabs="share page" data-width="400px" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/developerstage" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/developerstage">Developer&#039;s Stage</a></blockquote></div>    
                </div>
            </aside>
        </div>

    </div>
</section>

{% endblock %}