{% extends 'master/master.html' %}

{% block content %}

{% load static %}

<section id="contentSection">
    <div class="row">
        
        <div class="col-md-8">
            <div class="left_content">
                <div class="single_page">

                    {% if content %}
                        {% for content in content %}

                            <ol class="breadcrumb">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li class="active">{{title}}</li>
                            </ol>

                            <h1>{{content.title}}</h1>

                            <div class="post_commentbox"> 
                                <span><i class="fa fa-user"></i>{{content.created_by|title}}</span>
                                <span><i class="fa fa-calendar"></i>{{content.created_at}}</span> 
                                {% if content.files %}
                                    <a href="{{content.files.url}}" target="_blank"><i class="fa fa-file"></i>Show File</a> 
                                {% endif %}
                            </div>

                            <div class="single_page_content pull-left" style="margin: 0 0 100px 0"> 
                                {% if content.image %}
                                    <a href="{{content.images.url}}" target="_blank"><img src="{{content.image.url}}" alt="" width="100%"></a> 
                                {% endif %}

                                <div style="margin: 10px 0 0 0">{{content.description|safe}}</div>
                            </div>

                        {% endfor %}
                    {% else %}

                        <h3 class="well text-center">No content available.</h3>

                    {% endif %}

                </div>
            </div>
        </div>

        {% include 'pages/right-side.html' %}
        
    </div>
</section>

{% endblock %}