{% load static %}

{% if popup %}
    <div class="overlay-bg"></div>
    {% for popups in popup %}

        <div class="overlay-content popup{{forloop.counter}}">
            <p>
                <img class="pop-image" alt="" src="{{popups.image.url}}">
            </p>   
                 
            <button class="close-btn" id="{% if count_popup == forloop.counter %}{{''}}{% else %}{{forloop.counter|add:'1'}}{% endif %}" data-showpopup="{% if count_popup == forloop.counter %}{{''}}{% else %}{{forloop.counter|add:'1'}}{% endif %}">X</button>

            {% if popups.link %}
                <a href="{{popups.link}}" target="_blank" class="popup_link">{{popups.link_name}}</a>
            {% endif %}
        </div>
        
    {% endfor %}
{% endif %}