{% extends 'master/master.html' %}

{% block content %}

{% load static %}

<section id="contentSection">
    <div class="row">

        <div class="col-md-12">
            <div class="left_content">
                <div class="single_page">

                    <ol class="breadcrumb">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li class="active">{{title}}</li>
                    </ol>

                    <h1>{{title}} ({{info.dates}})</h1>

                    <div class="col-md-3" style="margin: 20px 0 40px 0">
                        <img src="{{info.image.url}}" alt="" width="250" style="border-radius: 50%">
                    </div>

                    <div class="col-md-9" style="margin: 20px 0 40px 0">
                        <h4>{{ date|date:"dS F, Y" }}</h4><br>
                        <p>{{content.horoscope}}</p>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}