{% extends 'master/master.html' %}

{% block content %}

{% load static %}

<section id="contentSection">
    <div class="row">

        <div class="col-md-12">
            <div class="left_content">
                <div class="single_page">

                    <ol class="breadcrumb">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li class="active">Daily Horoscope</li>
                    </ol>

                    <h1>Daily Horoscope</h1>

                    {% if content %}
                        {% for contents in content %}
                            <a href="{% url 'horoscope-detail' contents.name %}" target="_blank"> 
                                <!-- <div class="col-md-3 ftco-animate text-center" style="cursor: pointer; margin: 20px 0 20px 0"  data-toggle="tooltip" data-placement="top" title="{{contents.name|upper}}"> -->
                                <div class="col-md-3 ftco-animate text-center" style="cursor: pointer; margin: 20px 0 20px 0">
                                    <img src="{{contents.image.url}}" alt="" width="250" style="border-radius: 50%">
                                    <h3>{{contents.name|upper}}</h3>
                                </div>
                            </a>
                        {% endfor %}
                    {% else %}
                        <h3 class="well text-center">No content available.</h3>
                    {% endif %}

                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}