.scrollToTop {
    bottom: 1px;
    height: 40px;
    width: 40px;
    font-size: 25px;
    right: 1px;
}

.single_page_content {
    border-bottom: none;
}

/* Set the size of the div element that contains the map */
#map {
    height: 545px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}


.single_sidebar > .black_bg_head {
    background: none repeat scroll 0 0 #151515;
    color: #fff;
    font-family: "Oswald",sans-serif;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: 0;
    margin-top: 5px;
    padding: 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.developer_name:hover {
    color: red;
}


/* error message css */
p.form_error {
    color: red;
}


/* contact form css */
.contact_form input[type="text"], .contact_form input[type="email"], .contact_form textarea {
    margin-bottom: 0;
}


/* blink css */
.blink_me {
    animation: blinker 1s linear infinite;
}
@keyframes blinker {  
    50% { opacity: 0.5; }
}


/* custom button css. used in home page 'view more' buttons */
.custom_btn {border:1px solid #d083cf; background-color: white; color: #d083cf; height:40px; padding:10px; -webkit-transition:all 0.5s; -o-transition:all 0.5s; transition:all 0.5s; }
.custom_btn:hover {color:#fff; background-color: #d083cf; border-color: #d083cf}

blockquote small:before {
    content: none;
    font-size: 68%;
}


/* custom pagination active button color */
.pagination>.active>span.custom_active {
    background-color: #d083cf;
    border-color: #d083cf;
}

/* .business_game_area {
    height: 568px;
}

.fashion_technology_area {
    height: 567px;
} */

.sponsor_slider > button.slick-prev,  .sponsor_slider > button.slick-next{
    display: none !important; 
}


/* home page pop up */
.popup_link {
    color: #2c2c2c;
    font-weight: bold;
    transition: 0.8s;
}

.popup_link:hover {
    color: #d083cf;
    font-weight: bold;
    transition: 0.8s;
}
/* // home page pop up */


/* alert message div */
div.alert {
    border-radius: 0px !important;
}
/* // alert message div */


/* Footer know us more */
.about_read_more {
    color: #d083cf;
    transition: 0.5s;
}

.about_read_more:hover {
    color: #d083cf;
    transition: 0.5s;
}

.about_read_more:hover > .right_arrow {
    padding-left: 7px;
    transition: 0.5s;
}
/* // Footer know us more */


/* footer subscription section */
.subscribe_btn {
    background-color: #d083cf;
    color: #ffffff;
    border: 1px solid #d083cf;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    padding: 8px 13px;
    letter-spacing: 0.05rem;
}

.subscribe_btn:hover {
    background-color: white;
    border: 1px solid #d083cf;
    color: #d083cf;
}

.subscribe_email {
    width: 70%;
    float: left;
    padding: 7px 11px;
    letter-spacing: 0.05rem;
    outline: 0;
    color: #303030;
    /* background-color: #d2d2d2; */
}
/* // footer subscription section */


.close-btn {
    padding: 1% 3% !important;
}