{% extends 'master/master.html' %}

{% block content %}

<section id="contentSection">
    <div class="row">

        <div class="col-md-6">
            <div class="left_content">
                <div class="contact_area">
                    <h2>Contact Us</h2>
                    {% for contact in contact_info %}
                        {{contact.description|safe}}
                    {% endfor %}

                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong> {{ message }} </strong>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form action="{% url 'contact' %}" class="contact_form" method="post">
                        {% csrf_token %}

                        {{contact_form.name}}
                        <p class="form_error">{{contact_form.name.errors.as_text}}</p>

                        {{contact_form.email}}
                        <p class="form_error">{{contact_form.email.errors.as_text}}</p>

                        {{contact_form.subject}}
                        <p class="form_error">{{contact_form.subject.errors.as_text}}</p>

                        {{contact_form.message}}
                        <p class="form_error">{{contact_form.message.errors.as_text}}</p>

                        <div class="g-recaptcha" data-sitekey="6LdL_bUUAAAAAI7fJINOucbRNP40PfT2Upr6ndrJ"></div><br>

                        <input type="submit" value="Send Message">
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <aside class="right_content">
                <div class="single_sidebar">
                    <h1 class="black_bg_head">Find Our Location</h1>

                    <div class="mapouter"><div class="gmap_canvas"><iframe width="640" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=baluwatar&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>Pure Black GmbH, Graslitzer Str. 6, 84478 Waldkraiburg</div><style>.mapouter{position:relative;text-align:right;height:500px;width:640px;}.gmap_canvas {overflow:hidden;background:none!important;height:490px;width:615px;}</style></div>

                    <!-- <div id="map"></div>

                    <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9hIRD62TdrbSZ41gBRvAn3QUKXw7SPjY&callback=initMap">
                    </script>

                    <script>
                        function initMap() {
                            // The location 
                            var location = {lat: -25.344, lng: 131.036};
                            // The map, centered at the given location
                            var map = new google.maps.Map(
                                document.getElementById('map'), {zoom: 4, center: location});
                            // The marker, positioned at the given location
                            var marker = new google.maps.Marker({position: location, map: map});
                        }
                    </script> -->
                </div>
            </aside>
        </div>

    </div>
</section>

{% endblock %}