{% extends 'master/master.html' %}

{% block content %}

{% load static %}

<section id="contentSection">
    <div class="row"  style="margin: 0 0 25px 0" >
        
        <div class="col-md-12">
            <div class="left_content">
                <div class="single_page">

                    <ol class="breadcrumb">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li class="active">{{title}}</li>
                    </ol>

                    {% if content %}
                        <h1>{{title}}</h1><br>

                        <ul class="photograph_nav  wow fadeInDown">
                            {% for content in content %}
                                <li>
                                    <div class="photo_grid">
                                        <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="{{content.image.url}}" title="{{content.title}}"> <img class="thumbnail" src="{{content.image.url}}" style="height: 200px" alt=""/></a> </figure>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>

                    {% else %}
                        <h3 class="well text-center">No content available.</h3>
                    {% endif %}

                </div>
            </div>
        </div>

        <!-- {% include 'pages/right-side.html' %} -->
        
    </div>
</section>

{% endblock %}