{% extends 'master/master.html' %}

{% block content %}

{% load static %}

<section id="contentSection">
    <div class="row">
        
        <div class="col-md-8">
            <div class="left_content">
                <div class="single_page">

                    <ol class="breadcrumb">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li class="active">{{title}}</li>
                    </ol>

                    {% if content %}

                        <h1>{{title}}</h1>
                        
                        {% for contents in content %}
                            <div class="single_page_content pull-left"> 
                                <div class="col-md-2">
                                    {% if contents.image %}
                                        <a href="{% url 'details' contents.slug %}"><img class="img-rounded thumbnail" alt="thumbnail" src="{{contents.image.url}}" width="100%" height="110"></a>
                                    {% else %}
                                        <a href="{% url 'details' contents.slug %}"><img class="img-rounded" alt="thumbnail" src="{% static 'images/no-image.png' %}" width="100%" height="110"></a>
                                    {% endif %}
                                </div>
    
                                <div class="col-md-9">
                                    <blockquote>
                                        <a href="{% url 'details' contents.slug %}"><h4>{{contents.title}}</h4></a>
                                        <small style="font-size: 68%"><i class="fa fa-calendar"></i> {{contents.created_at}}</small>
                                        <small style="font-size: 68%"><i class="fa fa-eye"></i> {{contents.visited}} views</small>
                                    </blockquote>
                                </div>
                            </div>
                        {% endfor %}
                        
                    
                        <!-- For pagination buttons -->
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                {% if content.has_previous %}
                                    <li>
                                        <a href="?page={{ content.previous_page_number }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                {% endif %}

                                <!-- showing the pagination number buttons through loop -->
                                {% for num in content.paginator.page_range %}
                                    <!-- checking if active or not -->
                                    {% if content.number == num %} 
                                    <li class="active"><span class="custom_active">{{num}}</span></li>
                                    {% else %}
                                        <li><a href="?page={{num}}">{{num}}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if content.has_next %}
                                    <li>
                                        <a href="?page={{ content.next_page_number }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                {% endif %}

                                <li>
                                    <span>Page {{ content.number }} of {{ content.paginator.num_pages }}.</span> 
                                </li>
                            </ul>
                        </nav>
                        <!-- // For pagination buttons -->

                    {% else %}

                        <h3 class="well text-center">No content available.</h3>

                    {% endif %}     

                </div>
            </div>
        </div>

        {% include 'pages/right-side.html' %}
        
    </div>
</section>

{% endblock %}