{% load static %}

<div class="col-md-4">
    <div class="latest_post">
        <h2><span>Latest post</span></h2>
        <div class="latest_post_container">
            <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
                <ul class="latest_postnav">
                    {% if latest_post %}
                        {% for post in latest_post %}
                            <li>
                                <div class="media"> <a target="_blank" href="{% url 'details' post.slug %}" class="media-left"> {% if post.image %} <img alt="thumbnail" src="{{post.image.url}}"> {% else %} <img alt="" src="{% static 'images/no-image.png' %}"> {% endif %} </a> </a>
                                    <div class="media-body"> <a href="{% url 'details' post.slug %}" target="_blank" class="catg_title">{{post.title}}</a> <br> <a href="{% url 'menu-content' post.menu.slug %}" target="_blank"><small class="label label-info">{{post.menu.menu_name}}</small></a> </div>
                                    
                                </div>
                            </li>
                        {% endfor %}
                    {% else %}    
                        <h4 class="text-center">No contents available.</h4>
                    {% endif %}
                </ul>
            <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
        </div>
    </div>

    <div class="single_sidebar">
        <h2><span>Popular Post</span></h2>
        <ul class="spost_nav">
            {% if popular_post %}
                {% for post in popular_post %}
                    <li>
                        <div class="media"> <a target="_blank" href="{% url 'details' post.slug %}" class="media-left"> {% if post.image %} <img alt="thumbnail" src="{{post.image.url}}"> {% else %} <img alt="" src="{% static 'images/no-image.png' %}"> {% endif %} </a> </a>
                            <div class="media-body"> <a href="{% url 'details' post.slug %}" target="_blank" class="catg_title">{{post.title}}</a> <br> <a href="{% url 'menu-content' post.menu.slug %}" target="_blank"><small class="label label-info">{{post.menu.menu_name}}</small></a> </div>
                            
                        </div>
                    </li>
                {% endfor %}
            {% else %}    
                <h4 class="text-center">No contents available.</h4>
            {% endif %}
        </ul>
    </div>

    <div class="single_sidebar wow fadeInDown" style="margin: 15px 0 0 0;">
        <h2><span>Find Us On Facebook</span></h2>
        <div class="fb-page" data-href="https://www.facebook.com/developerstage" data-tabs="share page" data-width="400px" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/developerstage" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/developerstage">Developer&#039;s Stage</a></blockquote></div>    
    </div>
    
</div>