{% load static %}

	<footer id="footer">
		<div class="footer_top">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4">
					<div class="footer_widget wow fadeInLeftBig">
						<h2>Know Us More</h2>
						{% for about in about_us %}
							{{about.description|safe|truncatewords:50}}
						{% endfor %}
						<a href="{% url 'menu-content' 'about' %}" class="about_read_more">Read More <span class="fa fa-arrow-right right_arrow"></span></a> 

						<div class="fb-like" data-href="https://www.facebook.com/developerstage/" data-width="" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

						<div style="margin: 5px 0 0 0"><a class="twitter-follow-button"
							href="https://twitter.com/TwitterDev">
						  Follow @TwitterDev</a></div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4">
					<div class="footer_widget wow fadeInDown">
						<h2>Quick Links</h2>
						<ul class="tag_nav">
							{% if quicklinks_data %}
								{% for quicklink in quicklinks_data %}
									<li><a href="{{quicklink.link}}" target="_blank">{{quicklink.title}}</a></li>
								{% endfor %}
							{% endif %}
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4">
					<div class="footer_widget wow fadeInRightBig">
						<h2>Contact</h2>
						{% for contact in contact_info %}
							{{contact.description|safe}}
						{% endfor %}

						<h2>News Letter</h2>
						<div class="email-box">
							<input type="text" class="subscribe_email" placeholder="Enter your email..." />
							<button type="submit" class="subscribe_btn">Subscribe</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer_bottom">
			<div class="col-md-4"><p class="copyright">Copyright &copy; {% now 'Y' %} <a href="{% url 'home' %}">NewsGram</a></p></div>

			<div class="col-md-4" align='center'>Site Visit <img src='http://www.hit-counts.com/counter.php?t=MTQ0MTgzNA==' border='0' alt='hit counter'><BR><a href='https://www.glowgraphics.co.uk/'>professional logo</a></div>

			<div class="col-md-4"><p class="developer" style="color: #c6c6c6">Developed By <a href="https://www.linkedin.com/in/ujjwal-shrestha-april17/" target="_blank" style="color: white" class="developer_name">UjjwalShrestha</a></p></div>
		</div>
	</footer>

</div>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/5d676918eb1a6b0be609e9e4/default';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
</script>
<!--End of Tawk.to Script-->



</body>
</html>

