{% load static %}

<section id="navArea">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav main_nav">
                <!-- Default home menu -->
                <li class="active"><a href="{% url 'home' %}"><span class="fa fa-home desktop-home"></span><span class="mobile-show">Home</span></a></li>
                
                <!-- Checking if menu data exists  -->
                {% if menu_data %}

                    <!-- All menu loop -->
                    {% for menu in menu_data %}

                        <!-- Checking if the menu has submenu -->
                        {% if menu.menu_set.all %} 

                            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{menu.menu_name}}</a>
                                
                                {% if menu.menu_set.all %}
                                    <ul class="dropdown-menu" role="menu">
                                        <!-- Sub menu loop -->
                                        {% for submenu in menu.menu_set.all %}
                                            {% if submenu.status == True %}
                                                <li><a href="{% url 'menu-content' submenu.slug %}">{{submenu.menu_name}}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                            </li> 

                        <!-- Else checking if the menu is main menu (not submenu) -->
                        {% elif menu.is_main_menu == 'y' %}

                            <li><a href="{% url 'menu-content' menu.slug %}">{{menu.menu_name}}</a></li>

                        {% endif %}

                    {% endfor %}

                {% endif %}
                
            </ul>
        </div>
    </nav>
</section>

<section id="newsSection">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="latest_newsarea"> <span>Latest News</span>
                <ul id="ticker01" class="news_sticker">
                    {% if latest_news %}
                        {% for news in latest_news %}
                            <li><a href="{% url 'details' news.slug %}"><i class="fa fa-angle-double-right" style="font-size: 12px"></i> {{news.title}}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
                <div class="social_area">
                    <ul class="social_nav">
                        {% if sociallinks_data %}
                            {% for social_link in sociallinks_data %}
                                <li class="{{social_link.social_site}}"><a href="{{social_link.link}}" target="_blank"></a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>