{% load static %}

<section id="navArea">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav main_nav">
                <!-- Default home menu -->
                <li class="active"><a href="{% url 'home' %}"><span class="fa fa-home desktop-home"></span><span class="mobile-show">Home</span></a></li>
                
                <!-- Checking if menu data exists  -->
                {% if menu_data %}

                    <!-- All menu loop -->
                    {% for menu in menu_data %}

                        <!-- Checking if the menu has submenu -->
                        {% if menu.menu_set.all %} 

                            <!-- Sub menu loop -->
                            {% for submenu in menu.menu_set.all %}

                                <!-- Check if status of submenu is true -->
                                {% if submenu.status == True %}
                                    <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{menu.menu_name}}</a>
                                        
                                        <ul class="dropdown-menu" role="menu">
                                            <!-- Sub menu -->
                                            <li><a href="{% url 'menu-content' submenu.slug %}">{{submenu.menu_name}}</a></li>
                                        </ul>

                                    </li> 
                                
                                <!-- If status of submenu is not true -->
                                {% else %}
                                    <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{menu.menu_name}}</a></li> 
                                {% endif %}
                                
                            {% endfor %}

                        <!-- Else checking if the menu is main menu (not submenu) -->
                        {% elif menu.is_main_menu == 'y' %}

                            <li><a href="{% url 'menu-content' menu.slug %}">{{menu.menu_name}}</a></li>

                        {% endif %}

                    {% endfor %}

                {% endif %}
                
            </ul>
        </div>
    </nav>
</section>

<section id="newsSection">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="latest_newsarea"> <span>Latest News</span>
                <ul id="ticker01" class="news_sticker">
                    <li><a href="#"><img src="{% static 'images/news_thumbnail3.jpg' %}" alt="">My First News Item</a></li>
                    <li><a href="#"><img src="{% static 'images/news_thumbnail3.jpg' %}" alt="">My Second News Item</a></li>
                    <li><a href="#"><img src="{% static 'images/news_thumbnail3.jpg' %}" alt="">My Third News Item</a></li>
                    <li><a href="#"><img src="{% static 'images/news_thumbnail3.jpg' %}" alt="">My Four News Item</a></li>
                    <li><a href="#"><img src="{% static 'images/news_thumbnail3.jpg' %}" alt="">My Five News Item</a></li>
                    <li><a href="#"><img src="{% static 'images/news_thumbnail3.jpg' %}" alt="">My Six News Item</a></li>
                    <li><a href="#"><img src="{% static 'images/news_thumbnail3.jpg' %}" alt="">My Seven News Item</a></li>
                    <li><a href="#"><img src="{% static 'images/news_thumbnail3.jpg' %}" alt="">My Eight News Item</a></li>
                    <li><a href="#"><img src="{% static 'images/news_thumbnail2.jpg' %}" alt="">My Nine News Item</a></li>
                </ul>
                <div class="social_area">
                    <ul class="social_nav">
                        <li class="facebook"><a href="#"></a></li>
                        <li class="twitter"><a href="#"></a></li>
                        <li class="flickr"><a href="#"></a></li>
                        <li class="pinterest"><a href="#"></a></li>
                        <li class="googleplus"><a href="#"></a></li>
                        <li class="vimeo"><a href="#"></a></li>
                        <li class="youtube"><a href="#"></a></li>
                        <li class="mail"><a href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>