{% load static %}

<!-- recaptcha js -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="{% static 'js/jquery.min.js' %}"></script> 
<script src="{% static 'js/wow.min.js' %}"></script> 
<script src="{% static 'js/bootstrap.min.js' %}"></script> 
<script src="{% static 'js/slick.min.js' %}"></script> 
<script src="{% static 'js/jquery.li-scroller.1.0.js' %}"></script> 
<script src="{% static 'js/jquery.newsTicker.min.js' %}"></script> 
<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script> 
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/overlay.js' %}"></script>

<script type="text/javascript">
    //-------------------------------- Scripts For Timer in dashboard Top-Nav ----------------------------------//

    tday=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday");
    tmonth=new Array("January","February","March","April","May","June","July","August","September","October","November","December");

    function GetClock(){
        var d=new Date();
        var nday=d.getDay(), nmonth=d.getMonth(),ndate=d.getDate(),nyear=d.getYear(),nhour=d.getHours(),nmin=d.getMinutes(),nsec=d.getSeconds(),ap;

        if(nhour==0){ap=" AM";nhour=12;}
        else if(nhour<12){ap=" AM";}
        else if(nhour==12){ap=" PM";}
        else if(nhour>12){ap=" PM";nhour-=12;}

        if(nyear<1000) nyear+=1900;
        if(nmin<=9) nmin="0"+nmin;
        if(nsec<=9) nsec="0"+nsec;

        document.getElementById('clockbox').innerHTML=""+tday[nday]+", "+tmonth[nmonth]+" "+ndate+", "+nyear+" "+nhour+":"+nmin+":"+nsec+ap+"";
    }

    window.onload=function(){
        GetClock();
        setInterval(GetClock,1000);
    }

    //---------------------------- Scripts For Timer in dashboard Top-Nav Ends here ------------------------------//


    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });


    $(document).ready(function() {
        $(".alert-success").fadeTo(5000, 500).slideUp(500, function(){
            $(".alert-success").slideUp(500);
        });

        $(".alert-danger").fadeTo(5000, 500).slideUp(500, function(){
            $(".alert-danger").slideUp(500);
        });

        $(".alert-info").fadeTo(5000, 500).slideUp(500, function(){
            $(".alert-info").slideUp(500);
        });

        $(".alert-warning").fadeTo(5000, 500).slideUp(500, function(){
            $(".alert-warning").slideUp(500);
        });
    });

    
</script>

<!-- Like and share button js script -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>


<!-- Facebook page plugin: Developer's Stage -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>


<!-- Twitter developers mode script -->
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>





