{% load static %}

<header id="header">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="header_top">
                <div class="header_top_left">
                    <ul class="top_nav">
                        <li><a href="#">Create Account</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
                <div class="header_top_right">
                    <p id="clockbox"></p>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="header_bottom">
                {% for logo in site_logo %}
                    <div class="logo_area"><a href="{% url 'home' %}" class="logo"><img src="{{logo.image.url}} " alt=""></a></div>
                {% endfor %}

                {% for banner in ad_banner %}
                    <div class="add_banner"><a href="{{banner.link}}" target="_blank"><img src="{{banner.image.url}}" alt=""></a></div>
                {% endfor %}
            </div>
        </div>
    </div>
</header>